<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Receiver</th>
      <th>Status</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.receiver %></td>
        <td><%= user.status %></td>
        <td><%= user.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to("続けて入力","/") %>
