<div class = "top">
    <div class = "container">
        <div class = "title">
        　　<h1>入力フォーム</h1>
        </div>
        <div class = "wrapper">
            <div class = "form">
              <%= form_tag("output", method: :post) do %>    
                <p>払った人</p>
                <select name="name">
                    <% @user.each do |user| %>
                    <option><%= user.name %></option>
                    <% end %>
                </select>
                <p>受け取った人</p>
                <select name="receiver">
                    <option value = "光希">光希</option>
                    <option value = "でくのぼう">でくのぼう</option>
                    <option value = "立川">立川</option>
                    <option value = "うんこ">うんこ</option>
                    <option value = "銀河">銀河</option>
                </select>
                <p>状況</p>
                <p>受け取った場合受取済み、いつまでに払うかを聞いた場合その日付を入力</p>
                　　<input name="status">
                <input value="送信" type="submit">
              <% end %>    
            </div>
        </div>
    </div>
</div>